.container {
  border: 1px solid green;
  display: flex;
}
.caixa {
  background: palevioletred;
  width: 70px;
  height: 70px;
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa:nth-child(2) {
  flex: 0 1 100px;
}
