* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: purple;
}

p {
  color: aqua;
}

.colorido {
  color: red;
}

#paragrafo {
  color: pink;
}

main > h3 {
  color: yellow;
}

.exemplo:hover {
  background-color: lightblue;
}

.exemplo:focus {
  background-color: pink;
}

.exemplo:active {
  background-color: lightgreen;
}

li:first-child {
  color: blue;
}

li:last-child {
  color: red;
}

li:nth-child(2) {
  color: green;
}

.exemplo2::after {
  content: "DEPOIS";
}

.exemplo2::before {
  content: "ANTES";
}
